@font-face {
    font-family:'Inter' ;
    src: url(/fonts/inter_font/Inter-Medium.otf);
}

@font-face {
    font-family: 'Inter-Bold';
    src: url(/fonts/inter_font/Inter-Bold.otf);
}

@font-face {
    font-family: 'Barlow-Bold';
    src: url(/fonts/barlow_font/Barlow-Bold.otf);
}
@font-face {
    font-family: 'Barlow-Regular';
    src: url(/fonts/barlow_font/Barlow-Regular.otf);
}
@font-face {
    font-family: 'Barlow-Bold';
    src: url(/fonts/barlow_font/Barlow-Extra\ Bold.ttf);
}

.responsivelogo
{
    width: 10vw;
    height: 10vw;

}

.ps-md-6
{
    padding-left: 35vw !important;
}

.ps-md-7
{
    padding-left: 37vw !important;
}

.fs-5
{
    font-size: 0.8vw !important;
}

.welcome-page{
   color: black;
   font-family: 'Inter';
   /* text-align: left; */
   font-size: 1.2vw; 
}

/* The most !important things */


  
